.dashboard_body {
    padding: 5px;
}
.tile-stats.tile-red {
    background: #f87e6c;
}
.tile-stats {
    position: relative;
    display: block;
    background: #303641;
    padding: 20px;
    margin-bottom: 10px;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    background-clip: padding-box;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.tile-stats.tile-green {
    background: #00a65a;
}
.tile-stats.tile-aqua {
    background: #00c0ef;
}
.tile-stats.tile-blue {
    background: #0073b7;
}
.tile-stats.tile-red .icon {
    color: rgba(0, 0, 0, 0.1);
}
.page-container .tile-stats .icon {
    bottom: 35px;
}
.tile-stats .icon {
    color: rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 7px;
    bottom: 60px;
    z-index: 1;
}
.tile-stats .icon i {
    font-size: 100px;
    line-height: 0;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.tile-stats.tile-red .num, .tile-stats.tile-red h3, .tile-stats.tile-red p {
    color: #ffffff;
}
.tile-stats .num {
    font-size: 38px;
    font-weight: bold;
}
.tile-stats .num, .tile-stats h3, .tile-stats p {
    position: relative;
    color: #ffffff;
    z-index: 5;
    margin: 0;
    padding: 0;
}
.tile-stats.tile-red .num, .tile-stats.tile-red h3, .tile-stats.tile-red p {
    color: #ffffff;
}
.tile-stats h3 {
    font-size: 18px;
    margin-top: 5px;
}
.tile-stats .num, .tile-stats h3, .tile-stats p {
    position: relative;
    color: #ffffff;
    z-index: 5;
    margin: 0;
    padding: 0;
}
.tile-stats.tile-red .num, .tile-stats.tile-red h3, .tile-stats.tile-red p {
    color: #ffffff;
}
.tile-stats p {
    font-size: 11px;
    margin-top: 5px;
}
.tile-stats .num, .tile-stats h3, .tile-stats p {
    position: relative;
    color: #ffffff;
    z-index: 5;
    margin: 0;
        margin-top: 0px;
    padding: 0;
}